/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Questrial');
$base-font: "Open Sans", "Helvetica", "sans-serif", "Arial";
$header-font: "Questrial", "sans-serif", "Arial";
$name-font: "Montserrat", "sans-serif", "Arial";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Proxima";
//   src: font-url('proxima-nova/proximanova-semibold-webfont.eot');
//   src: font-url('proxima-nova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//        font-url('proxima-nova/proximanova-semibold-webfont.woff') format('woff'),
//        font-url('proxima-nova/proximanova-semibold-webfont.ttf') format('truetype')
// }
// $my-font: "Proxima";
// $base-font: $my-font;
// $header-font: $my-font;

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #3cfaee;
$bluedark: rgba(89, 60, 250, 0.94);
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$white: #f3f3f6;
$purple: #9C1DE7;
$purple2: #e244ff;
