/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.pages-home {
  .banner {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .banner h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  .banner p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 80px;
  }
}

.banner {
  min-height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
}


.title {
  margin-bottom: 70px;
}

.search-bar-home {
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $white;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $white;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $white;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $white;
  }
}

// .input:focus {
//     outline: none !important;
//     border:1px solid red;
//     box-shadow: 0 0 10px #719ECE;
// }

#my_address {
    width: 50%;
    background: 0;
    border: 0;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-weight: 500;
    outline: 0;
    text-align: center;
    width: 21.8em;
    border-bottom-width: 2px;
    box-shadow: none;
    margin-bottom: 35px;
    font-family: $header-font;
}

.form-address {
  padding-top: 18px;
}

.h2-title {
  font-size: 35px;
  margin-bottom: -9px;
}

.btn-home {
  background-color: $purple;
  border-color: transparent;
  padding: 14px 35px 42px 35px;
  font-size: 19px;
  border-radius: 40px;
}

.btn-home:hover {
  border-color: transparent;
  background-color: #e244ff;
}

.btn-home:active {
  border-color: transparent;
  background-color: #e244ff;
}

.btn-home:focus {
  border-color: transparent;
  background-color: #e244ff;
  outline: none;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}

.form-home {
  margin-top: 56px;
}

.comment-ca-marche {
  padding: 40px 0px;
  background-color:#f2f2f2;
  background-size: cover !important;
  // margin: 0px !important;

}

.comment-ca-marche h2{
  color: $purple;
  font-size: 46px ;
  margin-bottom: 28px;
}

