.wrapper-messages {
  background-color: #e9ebee;
}

.message-container:hover{
  box-shadow: 0 0 7px green;
}

.message-container {
  border: 0.5px solid grey;
  border-width: thin;
  border-radius: 4px;
  margin-bottom: 15px;
}

.date-position {
  padding-top: 9px;
}
.message-position {
  padding-top: 15px;
}

.message-white {
  background-color: white;
}

.message-blue {
  background-color: #eef5fc;
}

.status-position {
  position : absolute;
  top: 3px;
  right: 8px;
}

.button-position {
   position: absolute;
    bottom: 0;
    right: 5px;
}

.border_bottom {
  border-bottom: 1px dotted grey;
}

.border_right {
  border-right: 0.5px dotted grey;
}
