.wrapper-messages {
  background-image: linear-gradient(45deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%);
  background-size: cover !important;
  height: calc(100vh);
  padding-top: 15px;
}

.header-messages {
  color:white;
  text-shadow: 1px 1px 1px black;
}

.car-people {
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.card-flexbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px solid grey;
  border-width: thin;
  border-radius: 7px;
  margin-bottom: 15px;
  box-shadow: 3px 3px 3px black;
  background-color: white;
}

.card-flexbox:hover{
  box-shadow: 0 0 7px green;
}

.card-element {
}

.status-position {
  position: absolute;
  top: 10px;
  right: 10px;
}

.message-style {
  font-size: 18px;
  font-style: italic;
  font-family: Helvetica;
}

.flex-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-btn {
  border-radius: 50%;
  border-style: none;
}

.fa-thumbs-up {
  font-size: 45px;
  color: green;
}

.fa-thumbs-down {
  font-size: 45px;
  color: red;
}

