.wrapper-messages {
  background-image: linear-gradient(45deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%);
  background-size: cover !important;
  height: calc(100vh);
  padding-top: 15px;
}

.header-messages {
  color:white;
  text-shadow: 1px 1px 1px black;
}

.car-people {
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.card-flexbox {
  position: relative;
  // display: flex;
  border-width: thin;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: white;
}

.card-flexbox:hover{
  box-shadow: 0 0 20px $purple;
}

.status-position {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}


.flex-btn {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.fa-commenting-o {
  font-size: 20px;
  margin-right: 10px;
}

.passenger-photo {
  align-items: center;
}

.card-element h2 {
  font-weight: bold;
}

.address-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.no-margin-h {
  margin: 0;
}

.occurs {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}

