.container-driver{
  // border-radius: 3px;
  // border: #737373 1px solid;
  // box-shadow: 1px 1px 2px #737373;
  margin-top: 30px;
  margin-bottom: 10px;
  // height: 315px;
}

.container-driver p {
      margin: 11px 0 11px !important;
}

#status{
  color:orange;
}
