.start-driver{
  margin-bottom: 40px;
  text-align: left;
  padding-left: 10px;
}

.stop-driver{
  margin-bottom: 40px;
  text-align: left;
  padding-left: 10px;
}

.end-driver{
  text-align: left;
  padding-left: 10px;
}

#map-traject-driver{
  margin: 20px;
}

.contenu-traject{
  height: 400px;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
}
