<div class="row chat-line">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<!--     <p><em><%= review.created_at.strftime("%I:%M%p") %></em></p>
 -->
    <div class="review-content">
      <p class="message-chat"><%= review.content %></p>
    </div>
  </div>
  <div class="col-md-3 review-user">
    <div class="review-user">
      <%= cl_image_tag review.user.photo.path, class: "avatar" %>
    </div>
  </div>
</div>

