<div class="row chat-line">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div class="col-md-9">
      <div class="review-content">
        <p class="message-chat"><%= review.content %></p>
      </div>
    </div>
    <div class="col-md-3 review-user">
      <div class="review-user">
        <% if review.user.photo %>
        <%= cl_image_tag review.user.photo.path, class: "avatar" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

