<div class="container-fluid text-center">

  <div class="tab-content active" id="profile">
    <h2>Email: <%= @user.email %></h2>
  </div>


  <div class="container tab-content hidden" >
  </div>

</div>
