<div class="tabs">
  <a class="tab active" data-target="#home">
    <h4>Mes trajets</h4>
    <br>
  </a>
  <a class="tab" data-target="#trajects">
    <h4>....</h4>
    <br>
  </a>
  <a class="tab" data-target="#profile">
    <h4>Profil</h4>
        <br>
  </a>
</div>
