<div class="tabs navbar-marged">

    <a class="tab active" data-target="#home">
      <h4>Mon trajet</h4>
      <br>
    </a>
  <% if @user.trajects.empty? == false  %>
    <a class="tab" data-target="#trajects">
      <h4>Requests (<%= @pending_requests %>)</h4>
      <br>
    </a>
  <%end%>

    <a class="tab" data-target="#chat">
      <h4>Chat</h4>
      <br>
    </a>

    <a class="tab" data-target="#profile">
      <h4>Profil</h4>
      <br>
    </a>
</div>
