<div class="tabs">
  <a class="tab active" data-target="#trajects">
    <h4>Home</h4>
    <br>
  </a>
  <a class="tab" data-target="#trajects">
    <h4>Past trajects</h4>
    <br>
  </a>
  <a class="tab" data-target="#users">
    <h4>Profile</h4>
    <br>
  </a>
</div>
