<div class="navbar-marged">

  <div id="dashboard-container">
    <div id="dashboard-menu">
    <br>
    <br>
    <br>
      <%= render "tabs" %>
    </div>
    <div id="dashboard-content">
      <%= render "tab-content", active_tab: "profile" %>
    </div>
  </div>

</div>
