<div id="map" style="width:100%;height:50vh;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);

        var myhome = {lat: <%= raw @traject.latitude  %>, lng: <%= raw @traject.longitude  %>};
        var charrues = {lat: 48.271197, lng: -3.550563};

        var iconBase = 'https://maps.google.com/mapfiles/kml/paddle/';

        var start = new google.maps.Marker({
          map: handler.getMap(),
          position: myhome,
          icon: iconBase + 'go.png',
          customInfo: "Your start"
        });

        var arrival = new google.maps.Marker({
          map: handler.getMap(),
          position: charrues,
          icon: iconBase + 'red-circle.png',
          customInfo: "Arrival"
        });

        handler.bounds.extendWith(markers);

        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(10);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(10);
        } else {
          handler.getMap().setZoom(7);
        }
      });
    });
  <% end %>
<% end %>
