<div class="row footer">
  <div class="col-xs-6">
    <div class="footer-left list-inline">
      <ul class="list-inline">
        <li class="logo-footer"><%= image_tag "logo.png" %></li>
        <li><p>© Rock & Road, Inc.</p></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="footer-right list-inline">
      <ul class="list-inline">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-linkedin"></i></li>
        <li><i class="fa fa-youtube"></i></li>
      </ul>
    </div>
  </div>
</div>
