<div class="banner" style="background-image: linear-gradient(-225deg, rgba(89, 60, 250, 0.94),rgba(60,250,238,0.94)40%,rgba(0,36,61,0.8)40%),url('http://culturebox.francetvinfo.fr/sites/default/files/assets/images/2016/07/000_da82e.jpg')">
  <div class="container">
    <div class="row">
      <div class="banner-content">
        <div class="title">
          <h1><span style="font-family: montserrat";>Rock&Road</span>. Trouvez un co-voiturage</br> pour les Vieilles Charues 2017</h1>
        <div class="form-home">
                <h2 class="h2-title">D'ou partez-vous ?</h2>
        <div class="row">
          <form action="/requests" method="post" class="form-inline search-bar-home input">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="col-xs-12 form-address">
                <input type="text" id="my_address" name ="address" class = "form-control search-bar-home-input" placeholder="" style="
                font-family: $header-font;">
              </div>
              <!-- buttton -->
              <div class="col-xs-12">
                <input type="submit" class="form-control btn btn-primary btn-home" value="En route!">
              </div>
            </div>
          </form>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>
