// Your footer style
.footer{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #767676;
}

.footer-left img{
  height: 34px !important;
  margin-left: 10px !important;
}

.footer-right{
  text-align: right;
  margin-right: 10px !important;
}


