<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-offset-4 navbar-marged">
      <%= render "devise/sessions/new", resource: resource, resource_name: resource_name, resource_class: User %>
    </div>
  </div>
</div>
