/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  color: white;
  position: absolute;
  top: 66px;
  width: 270px;
  border-radius: 0;
  border: 0;
  z-index: 999;
  border-radius: 12px;
  margin-left: 7px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
