#btn-facebook {
  background-color: #3c5a95;
  margin-top: 7px;
  border: 0px solid !important;
}

#btn-bookconfirm {
  text-align: right;
  margin-top: 12px;
}

#btn-nv-recherche {
  text-align: left;
  margin-top: 12px;
}

