#btn-facebook {
  background-color: #3c5a95;
  margin-top: 7px;
  border: 0px solid !important;
}

#btn-bookconfirm {
  text-align: right;
  margin-top: 12px;
}

#btn-nv-recherche {
  margin-top: 20px;
  color: white;
  a {
    color: white;
  }
}

.btn-purple {
  background-color: $purple;
  border-color: transparent;
  border-radius: 20px;
  padding: 12px 28px;
  margin-right: 15px;
}


.btn-purple:hover {
  border-color: transparent;
  background-color: #e244ff;
}

.btn-purple:active {
  border-color: transparent;
  background-color: #e244ff;
}

.btn-purple:focus {
  border-color: transparent;
  background-color: #e244ff;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}
.btn-purple-second {
  background-color: white;
  color: #9C1DE7;
  border-color: #9C1DE7;
  border-radius: 20px;
}

.btn-purple-second:hover {
  border-color: #e244ff;
  background-color: white;
  color: #e244ff;
}

.btn-purple-second:active {
  border-color: #e244ff;
  background-color: white;
  color: #e244ff;
}

.btn-purple-second:focus {
  border-color: #e244ff;
  background-color: transparent;
  color: #e244ff;
}


.btn-red {
  background-color: #ea4335;
  border-color: transparent;
  border-radius: 20px;
  padding: 12px 28px;
  margin-right: 15px;
}


.btn-red:hover {
  border-color: transparent;
  background-color: darkred;
}

.btn-red:active {
  border-color: transparent;
  background-color: #e244ff;
}

.btn-red:focus {
  border-color: transparent;
  background-color: #e244ff;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}
