.card-ticket {
  border-radius: 10px;
  border: #e2e7ec 1px solid;
  // box-shadow: 1px 1px 2px #737373;
  // height: 315px;
}

.photo-ticket{
  // display: flex;
  background-size: cover !important;
  // width: 194.5px;
  height: 327px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ticket-city {
  font-size: 37px;
  padding-top: 8px;
  margin-bottom: 20px;
}

.ticket-address {
  font-size: 14px;
}

.ticket-hours {
  font-size: 40px;
  font-weight: 200;
}

.ticket-price {
  font-size: 38px;
  padding: 85px 0;
}

#logo-road {
  padding-top: 13px;
}

.ticket-driver {
  border-top: $purple 1px solid;
  border-bottom: $purple 1px solid;
}

.border-right {
  border-right: $purple 1px dashed;
}

.marged-top {
  margin-top: 20px;
}

.ticket-driverinfo {
  background-color: $purple;
  color: white;
  font-size: 8px;
}

.line-in-middle {
  background: linear-gradient(to right,
                              transparent 0%,
                              transparent calc(50% - 0.81px),
                              $purple calc(50% - 0.8px),
                              $purple calc(50% + 0.8px),
                              transparent calc(50% + 0.81px),
                              transparent 100%);
}


