.card-ticket {
  border-radius: 3px;
  border: #737373 1px solid;
  box-shadow: 1px 1px 2px #737373;
  // height: 315px;
}

.photo-ticket{
  // display: flex;
  background-size: cover !important;
  // width: 194.5px;
  height: 327px;
}

.ticket-city {
  font-size: 37px;
  padding-top: 8px;
  margin-bottom: 20px;
}

.ticket-address {
  font-size: 14px;
}

.ticket-hours {
  font-size: 40px;
  font-weight: 200;
}

.ticket-price {
  font-size: 38px;
  padding: 85px 0;
}

#logo-road {
  padding-top: 13px;
}

.ticket-driver {
  border-top: #737373 1px solid;
}

.border-right {
  border-right: #737373 1px solid;
}
