.requests-show h1 {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.trajects-show h1 {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.card-ticket {
  display: flex;
  border-radius: 10px;
  background: white;
}

.card-ticket-image {
  flex: 0 0 30%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-ticket-description {
  padding: 50px 20px 20px 20px;
  width: 100%;
  position: relative;
  hr {
    width: 70%;
  }
}

.card-ticket-price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  background: black;
  color: white;
  padding: 10px 28px;
  border-top-right-radius: 10px;
  .ticket-price {
   font-size: 22px;
  }
}

.card-ticket-status {
  position: absolute;
  top: 252px;
  right: 17px;
  font-size: 18px;
  background: white;
  color: white;
  padding: 8px 16px 0px 16px;
  .ticket-status {
   font-size: 25px;
  }
}


.card-ticket-traject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
  }
}

.card-ticket-traject-hours {
  font-size: 22px;
  font-weight: bold;
}

.card-ticket-driver {
  margin-right: 11px;
  margin-bottom: -25px;
}

.card-ticket-driver-order {
    margin-right: 11px;
    margin-bottom: -5px;
}

.photo-ticket{
  // display: flex;
  background-size: cover !important;
  // width: 194.5px;
  height: 327px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

// old version
.ticket-city {
  font-size: 37px;
  padding-top: 8px;
  margin-bottom: 20px;
}

.ticket-address {
  font-size: 14px;
}

.ticket-hours {
  font-size: 40px;
  font-weight: 200;
}

#logo-road {
  padding-top: 13px;
}

.ticket-driver {
  border-top: $purple 1px solid;
  border-bottom: $purple 1px solid;
}

.border-right {
  border-right: $purple 1px dashed;
}

.marged-top {
  margin-top: 20px;
}

.ticket-driverinfo {
  background-color: $purple;
  color: white;
  font-size: 8px;
}

.line-in-middle {
  background: linear-gradient(to right,
                              transparent 0%,
                              transparent calc(50% - 0.81px),
                              $purple calc(50% - 0.8px),
                              $purple calc(50% + 0.8px),
                              transparent calc(50% + 0.81px),
                              transparent 100%);
}


