<div class="container">
  <div class="row navbar-marged">

  <!-- traject -->
    <div class="col-xs-12 col-md-8">
      <!-- traject depart -->
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <p>Rennes<br>6 rue de la soif</p>
            <p>14h30</p>
          </div>
        </div>

         <div class="col-xs-12 col-sm-1">
          <div class="card">
            <p><-></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <p>Vieilles Charrues<br>(Parking Orange)</p>
            <p>16h30</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card">
            <p>15€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
